.forFraphic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40vh;
  margin-top: 150px;
}
#graphic {
  width: 54%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}