.AddingAndSearching {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 20px;
  .forPrint{
    background-color: rgb(219, 216, 216);
    border-color: rgb(0, 0, 0);
    margin-left: 20px;
    border-radius: 5px;
  }
  .Adding {
    padding-left: 20px;
    Button {
      margin-left: 30px;
      margin-right: 10px;
      background-color: rgb(3, 139, 3);
    }
  }
}

.TableForItems {
  color: red;
  th {
    color: black;
    text-align: center;
  }
  td {
    text-align: center;
  }
  .Actions {
    Button {
      margin-left: 20px;
    }
    .Edit {
      background-color: rgb(90, 116, 138);
    }
    .Delete {
      background-color: rgb(209, 44, 44);
    }
    .Detail {
      background-color: rgb(206, 143, 7);
    }
    .addService {
      background-color: rgb(54, 167, 138);
    }
    .addProduct {
      background-color: rgb(54, 167, 138);
    }
  }
}
