#FormForLogin {
  display: flex;
  justify-content: center;
  color: red;
  margin-top: 40px;
  
  #Form {
    max-width: 300px;
    justify-content: center;
    .forButton{
      background-color: green;
    }
    .remeberMeLabel{
      color: rgb(0, 0, 0);
      margin-right: 5px;
    }
    .forForgetPassword{
      margin-left: 20px;
      margin-top: 10px;
      color: black;
      font-size: 15px;
    }
  }
}

