.DetailPage {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 70px;
  .profilePicture {
    width: 100px;
    height: 100px;
  }  
  .forCard {
    width: 360px;
    min-height: 400px;
    max-height: 600px;
    margin-bottom: 40px;
    border-color: aliceblue;
    border-width: 1px;
    .forBody{
      background-color: rgb(232, 245, 245);
    }
    .forImg {
      height: 40%;
    }
    .Title {
      color: rgb(157, 26, 26);
      margin: 10px 0;
      font-size: 25px;
      letter-spacing: 1px;
    }
    .forSubtitle {
      color: rgb(0, 0, 0);
      margin: 9px 0;
      font-size: 20px;
    }
    .forReset {
      height: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      #resetPassword {
        background-color: red;
        font-size: 21px;
      }
    }
  }
}
