.ErrorPage {
  background-color: black;
  color: white;
  height: 400px;
  padding-top: 100px;
  margin-top: 100px;
  align-items: center;
  h1 {
    color: rgb(221, 25, 25);
  }
  h3 {
    color: red;
  }
  h6 {
    color: red;
    text-decoration: underline;
  }
}
